<div class="main-section-nav">
  <div class="top-nav">
    <ol class="breadcrumb">
      <li class="active">Home</li>
    </ol>
  </div>
</div>

<div>
	<h1>List of Available Applications:</h1>
	<div id="app-list">
		<table class="table">
			<thead>
				<tr><th>App Name</th><th>Description</th></tr>
			</thead>
			<tbody>
        <tr ng-repeat="app in data">
          <td><a href="{{'#!/view/' + app.name + '/api'}}">{{app.name}}</td>
          <td>{{app.description}}</td>
        </tr>
      </tbody>
		</table>
	</div>
</div>